{{ $interact := resources.Get "js/interact.min.js" }}
{{ $global := resources.Get "js/global.js" }}
{{ $bruit := resources.Get "js/bruit.js" }}
{{ $js := slice $interact $global | resources.Concat "js/bundle.js" | resources.Minify | resources.Fingerprint }}
{{ $jsbruit := slice $bruit | resources.Concat "js/bruit.js" | resources.Minify | resources.Fingerprint }}

{{ $pathfooter := newScratch }}
{{ if eq .Type "bruit" }}
{{ $pathfooter.Set "url" ".." }}
{{ else }}
{{ $pathfooter.Set "url" "." }}
{{ end }}
{{ if eq .Type "bruit" }}
<script async src="{{ $pathfooter.Get "url" }}{{ $jsbruit.RelPermalink }}" integrity="{{ $jsbruit.Data.Integrity }}"></script>
{{ else }}
<script async src="{{ $pathfooter.Get "url" }}{{ $js.RelPermalink }}" integrity="{{ $js.Data.Integrity }}"></script>
{{ end }}
