<button class="btn btn--menu btn--bruit"><span class="info">Fernand Fernandez</span></button>
<button class="btn btn--musique btn--bruit"><span class="info info--enable">Silence&nbsp;!</span></button>
<button class="btn btn--hasard btn--bruit"><span class="info">Hasard</span></button>
<div class="piste"><span class="piste__choix"></span><span class="piste__total">/{{ .Params.pistes }}</span></div>
<div class="piste__nom"><div class="marquee none"></div></div>

<header class="menu menu--bruit">
  <a href="https://www.fernandfernandezpeinture.org/" target="_blank" rel="noopener" class="title__link">Fernand Fernandez</a>
  <a href="https://abrupt.cc/fernand-fernandez/parler-sans-le-savoir" target="_blank" rel="noopener" class="title__link">Parler sans le Savoir</a>
  <a href="https://abrupt.cc" target="_blank" rel="noopener" class="title__link">Abrüpt</a>
  <div class="credit">
    Le silence crée le hasard.
  </div>
</header>
