<button class="btn btn--menu"><span class="info">Fernand Fernandez</span></button>
<button class="btn btn--musique"><span class="info info--enable">Silence&nbsp;!</span></button>

<audio loop id="fond-sonore">
  <source src="etc/choeur.mp3" type="audio/mpeg" />
</audio>

<video class="background" poster="etc/poster.jpg" autoplay muted loop playsinline disablePictureInPicture>
  <source src="etc/fond.mp4" type="video/mp4">
</video>

<header class="menu">
  <a href="https://www.fernandfernandezpeinture.org/" target="_blank" rel="noopener" class="title__link">Fernand Fernandez</a>
  <a href="https://abrupt.cc/fernand-fernandez/parler-sans-le-savoir" target="_blank" rel="noopener" class="title__link">Parler sans le Savoir</a>
  <a href="https://abrupt.cc" target="_blank" rel="noopener" class="title__link">Abrüpt</a>
  <div class="credit">
    {{ .Site.Params.peinture | safeHTML }}
  </div>
</header>
