<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">

<title>{{ .Site.Title | markdownify }}</title>
<link rel="canonical" href="{{ .Permalink }}">
<meta name="description" content="{{ .Site.Params.Description }}">
<meta name="robots" content="index, follow">

{{ $css := resources.Get "css/style.css" }}
{{ $style := $css | resources.PostCSS | resources.Fingerprint }}
{{ $path := newScratch }}
{{ if eq .Type "bruit" }}
{{ $path.Set "url" ".." }}
{{ else }}
{{ $path.Set "url" "." }}
{{ end }}

<link rel="stylesheet" href="{{ $path.Get "url" }}{{ $style.RelPermalink }}" integrity="{{ $style.Data.Integrity }}">

<link rel="apple-touch-icon" sizes="180x180" href="{{ $path.Get "url" }}{{ "/favicon/apple-touch-icon.png" | relURL }}">
<link rel="icon" type="image/png" sizes="32x32" href="{{ $path.Get "url" }}{{ "/favicon/favicon-32x32.png" | relURL }}">
<link rel="icon" type="image/png" sizes="16x16" href="{{ $path.Get "url" }}{{ "/favicon/favicon-16x16.png" | relURL }}">
<link rel="manifest" href="{{ $path.Get "url" }}{{ "/favicon/site.webmanifest" | relURL }}">
<link rel="mask-icon" href="{{ $path.Get "url" }}{{ "/favicon/safari-pinned-tab.svg" | relURL }}" color="#000000">
<link rel="shortcut icon" href="{{ $path.Get "url" }}{{ "/favicon/favicon.ico" | relURL }}">
<meta name="msapplication-TileColor" content="#000000">
<meta name="msapplication-config" content="{{ $path.Get "url" }}{{ "/favicon/browserconfig.xml" | relURL }}">
<meta name="theme-color" content="#ffffff">

{{ template "_internal/opengraph.html" . }}
