<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
<head>
  {{ partial "head.html" . }}
</head>
<body>
  {{ partial "header.html" . }}

  <main class="container">
    {{ block "main" . }}
    {{ end }}
  </main>

  {{ partial "footer.html" . }}
</body>
</html>
