{{ define "main" }}

<article class="home">
  <div class="liste-sons">
  {{ range .Params.sons }}
    <div class="son-boite">
    <button class="son">{{ .nom }}</button>
    <audio>
      <source src="{{ .src }}" type="audio/mpeg" />
    </audio>
    </div>
  {{ end }}
  </div>
</article>

{{ end }}
