{{ define "main" }}

<div class="liste-sons">
{{ range .Params.sons }}
  <audio data-nom="{{.nom }}" data-num="{{ .num }}">
    <source src="{{ .src }}" type="audio/mpeg" />
  </audio>
{{ end }}
</div>
<article class="home--bruit">
  <img class="image" src="../img/parler-sans-le-savoir.gif" alt="Parler sans le Savoir">
</article>

{{ end }}

