/*!
 * Style
 */

@font-face {
  font-family: 'Crimson';
  src:
    url('/css/fonts/crimson/crimson-bold.woff2') format('woff2'),
    url('/css/fonts/crimson/crimson-bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: fallback;
}

@font-face {
  font-family: 'Crimson';
  src:
    url('/css/fonts/crimson/crimson-italic.woff2') format('woff2'),
    url('/css/fonts/crimson/crimson-italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
  font-display: fallback;
}

@font-face {
  font-family: 'Crimson';
  src:
    url('/css/fonts/crimson/crimson-bolditalic.woff2') format('woff2'),
    url('/css/fonts/crimson/crimson-bolditalic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
  font-display: fallback;
}

@font-face {
  font-family: 'Crimson';
  src:
    url('/css/fonts/crimson/crimson-roman.woff2') format('woff2'),
    url('/css/fonts/crimson/crimson-roman.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: fallback;
}

@font-face {
  font-family: 'Fira Mono';
  src:
    url('/css/fonts/fira/fira-mono.woff2') format('woff2'),
    url('/css/fonts/fira/fira-mono.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: fallback;
}

:root {
  --color-bg: #000;
  --color-fg: #fff;
  --color-light-fg: #999;
  --color-light-bg: #eee;
  --color-anim: #f00;
}

*,
::before,
::after {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  -webkit-tap-highlight-color: transparent;
}

html,
body {
  overflow-x: hidden;
}

body {
  margin: 0 auto;
  font-family: "Crimson", Garamond, Georgia, Times, serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 2.2rem;
  color: var(--color-fg);
  letter-spacing: 0.01rem;
  line-height: 1.62;
  padding: 0;
  width: 100%;
}

@media screen and (min-width: 18.75em) { /* 300px */
  body {
    /* Fluid typography
     * calc([minimum size] + ([maximum size] - [minimum size]) * ((100vw - [minimum viewport width]) / ([maximum viewport width] - [minimum viewport width]))); */
    font-size: calc(22px + (28 - 22) * ((100vw - 300px) / (1280 - 300)));
  }
}

@media screen and (min-width: 80em) { /* 1280 px */
  body {
    font-size: 2.8rem;
  }
}

main,
header,
footer,
article,
section {
  margin: 0 auto;
  width: 100%;
  max-width: 100%;
}

main {
  display: block;
  margin: 0 auto;
}

header {
  text-align: center;
}

footer {
  color: var(--color-light-fg);
  margin: 2em 0 1em;
  text-align: center;
}

footer p {
  margin-bottom: 0;
}

h1,
h2,
h3 {
  letter-spacing: 0.01rem;
  margin: 2em 0 0;
  line-height: inherit;
  font-weight: bold;
}

h1 + p,
h2 + p,
h3 + p {
  margin-top: 0.5em;
}

h1 {
  font-size: 1.4em;
}

h2 {
  font-size: 1.2em;
}

h3 {
  font-size: 1.1em;
}

h4,
h5,
h6 {
  font-size: 1em;
  margin: 1em 0 0;
}

p {
  margin: 1.62em 0;
  hyphens: auto;
  hyphenate-limit-chars: 6 3 3;
  hyphenate-limit-lines: 2;
  hyphenate-limit-last: always;
  hyphenate-limit-zone: 8%;
}

::-moz-selection {
  color: var(--color-fg);
  background-color: var(--color-anim);
  text-shadow: none;
}

::selection {
  color: var(--color-fg);
  background-color: var(--color-anim);
  text-shadow: none;
}

a {
  color: var(--color-fg);
  text-decoration: underline solid var(--color-anim);
}

a:hover,
a:focus,
a:active {
  color: var(--color-anim);
  text-decoration: none;
}

/* Tapping delay off */
a,
area,
button,
input,
label,
select,
summary,
textarea,
[tabindex] {
  touch-action: manipulation;
}

img {
  max-width: 100%;
  height: auto;
}

figure {
  margin: 0 0 1.62em;
}

figcaption p {
  margin-top: 0;
  font-size: 0.8em;
}

video {
  width: 100%;
  outline: none;
  border: 0;
}

iframe {
  border-style: none;
}

svg:not([fill]) {
  fill: currentColor;
}

pre {
  display: block;
  text-indent: none;
  width: 80%;
  font-family: 'Fira Mono', 'Roboto Mono', Menlo, Consolas, 'Liberation Mono', monospace;
  font-size: 0.8em;
  background-color: var(--color-light-bg);
  border-left: 2px solid var(--color-fg);
  padding: 1em 2em;
  margin: 1em 0;
  white-space: pre-wrap;
  overflow-wrap: break-word;
}

code,
kbd {
  font-family: 'Fira Mono', 'Roboto Mono', Menlo, Consolas, 'Liberation Mono', monospace;
  font-size: 0.8em;
  background-color: var(--color-light-bg);
  border: none;
  padding: 0.2em 1em;
  word-break: break-all;
  word-wrap: break-word;
}

pre code {
  padding: 0;
}

blockquote {
  display: block;
  width: 80%;
  font-size: 0.8em;
  font-style: italic;
  background-color: var(--color-light-bg);
  border-left: 2px solid var(--color-fg);
  padding: 1em 2em;
  margin: 1em 0;
}

blockquote p {
  margin: 0;
}

blockquote p + p {
  margin-top: 1em;
}

textarea {
  overflow: auto;
  resize: vertical;
}

hr {
  display: block;
  height: 1px;
  width: 62%;
  border: 0;
  border-top: 1px solid var(--color-fg);
  margin: 3em auto;
  padding: 0;
}

/* Media Queries */
@media (min-width: 50em) { /* 800px */
}

@media (min-width: 80em) { /* 1280px */
}

@media print {
  body {
    margin: 0;
    color: #000;
    background-color: #fff;
  }
}
