/* Class struggle */

.background {
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
  position: fixed;
  margin: 0;
  padding: 0;
  top: 0;
  left: 0;
  z-index: -1;
}

.menu {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
  z-index: 100;
  background: rgba(0, 0, 0, 0.75);

  a {
    margin: 0;
    color: var(--color-fg);
    text-decoration: unset;
    padding: 0 0.3em;
    background: linear-gradient(to top, transparent 48%, var(--color-fg) 48%, var(--color-fg) 53%, transparent 53%);
  }

  a:hover,
  a:active,
  a:focus {
    color: var(--color-fg);
    background: unset;
  }

  .title__link {
    margin: 0.5em 0;
  }
}

.menu.menu--bruit {
  background: rgba(255, 255, 255, 0.75);
  z-index: 200;

  a {
    color: var(--color-bg);
    background: linear-gradient(to top, transparent 48%, var(--color-bg) 48%, var(--color-bg) 53%, transparent 53%);
  }

  a:hover,
  a:active,
  a:focus {
    color: var(--color-bg);
    background: unset;
  }
}

.home {
  width: 100%;
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.home--bruit {
  width: 100%;
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .image {
    max-width: 90vw;
    max-height: 90vh;
  }
}

.liste-sons {
  /* position: absolute; */
  /* top: 50%; */
  /* transform: translateY(-50%) translateX(75%); */
  /* right: 0; */
  display: flex;
  /* flex-wrap: wrap; */
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  max-width: 95%;
}
@media screen and (min-width: 50em) { /* 800 px */
  .liste-sons {
    max-width: 50%;
  }
}

@media screen and (min-width: 80em) { /* 1280 px */
  .liste-sons {
    max-width: 38%;
  }
}

.son-boite {
  z-index: 120;
}

.son {
  /* margin: 1.62em; */
  /* position: absolute; */
  z-index: 120;
  touch-action: none;
  user-select: none;
  display: inline-block;
  color: var(--color-fg);
  font-size: 1em;
  padding: 0 0.3em;
  text-align: right;
  background: rgba(0, 0, 0, 0.5);
  margin: 0.2em 0;
  /* border: 5px solid var(--color-fg); */
}

.son.son--enable {
  background: linear-gradient(to top, transparent 48%, var(--color-fg) 48%, var(--color-fg) 53%, transparent 53%);
}

.menu .credit {
  font-size: 1em;
  position: absolute;
  bottom: 0;
  left: 0;
  text-align: center;
  width: 100%;
  margin: 0 auto;
  padding: 1em;
  color: var(--color-fg);

  a {
    display: inline-block;
    margin: 0;
    color: var(--color-fg);
    padding: 0 0.3em;
    text-decoration: unset;
    background: linear-gradient(to top, transparent 48%, var(--color-fg) 48%, var(--color-fg) 53%, transparent 53%);
  }

  a:hover,
  a:active,
  a:focus {
    color: var(--color-fg);
    background: unset;
  }
}

.menu.menu--bruit .credit {
  color: var(--color-bg);
  padding: 0 0.3em;
  font-style: italic;

  a {
    display: inline-block;
    margin: 0;
    color: var(--color-bg);
    padding: 0 0.3em;
    text-decoration: unset;
    background: linear-gradient(to top, transparent 48%, var(--color-bg) 48%, var(--color-bg) 53%, transparent 53%);
  }

  a:hover,
  a:active,
  a:focus {
    color: var(--color-bg);
    background: unset;
  }
}


.show--menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.none,
.hide {
  display: none;
}

audio {
  visibility: hidden;
}

button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

.info {
  padding: 0 0.3em;
  display: block;
  width: 100%;
  height: 100%;
}

.info.info--enable {
  background: linear-gradient(to top, transparent 48%, var(--color-fg) 48%, var(--color-fg) 53%, transparent 53%);
}

.btn--bruit .info.info--enable {
  background: linear-gradient(to top, transparent 48%, var(--color-bg) 48%, var(--color-bg) 53%, transparent 53%);
}

.btn {
  cursor: pointer;
  /* margin: 1.62em; */
  color: var(--color-fg);
  font-size: 1em;
  padding: 0;
  margin: 0;
}

.btn.btn--bruit {
  color: var(--color-bg);
}

/* .btn:hover, */
/* .btn:focus { */
/*   .info { */
  /* background: linear-gradient(to top, transparent 48%, var(--color-fg) 48%, var(--color-fg) 53%, transparent 53%); */
/*   } */
/*   .info.info--enable { */
/*     background: unset; */
/*   } */
/* } */

.btn--menu {
  z-index: 110;
  display: inline-block;
  position: fixed;
  top: 0;
  right: 0;
  margin: 0;
}

.btn--bruit.btn--menu {
  z-index: 300;
  background: var(--color-fg);
}

.btn--musique {
  z-index: 110;
  display: inline-block;
  position: fixed;
  top: 0;
  left: 0;
  margin: 0;
}

.btn--bruit.btn--musique {
  z-index: 110;
  display: inline-block;
  position: fixed;
  top: unset;
  bottom: 0;
  left: 0;
  margin: 0;
  background: var(--color-fg);
}

.btn--hasard {
  z-index: 110;
  display: inline-block;
  position: fixed;
  top: 0;
  left: 0;
  margin: 0;
  background: var(--color-fg);
}

.piste {
  z-index: 110;
  color: var(--color-bg);
  display: inline-block;
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 0;
  padding: 0 0.3em;
  background: var(--color-fg);
}

.piste__nom {
  z-index: 100;
  color: var(--color-bg);
  display: block;
  position: fixed;
  width: 100%;
  bottom: 0;
  right: 0;
  margin: 0;
  padding: 0 0.3em;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
}

.marquee {
  display: inline-block;
  padding-left: calc(100% - 4em);
  animation: marquee 20s linear infinite;
  animation-play-state: paused;
}
.marquee.none {
  display: none;
}

@keyframes marquee {
    0% {
      transform: translate(0, 0);
    }
    100% {
      transform: translate(-100%, 0);
    }
}
